* {
    font-family: sans-serif;
}

.center-pages {
    width: 120px;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    color: white;
}

.right-pages {
    width: 170px;
    text-align: right;

}

.left-pages {
    width: 170px;
    text-align: left;
}

span a {
    color: white;
    text-decoration: none;
}

.wrapper {
    width: 600px;
    margin: 20px auto;
    text-align: center;
}

.createUpdate {
    width: 270px;
    margin: 20px auto;
    text-align: center;
}

.paging {
    display: inline-block;
}

.paging span:not(.center-pages) {
    padding: 10px;
    background-color: #808dfe;
    display: inline-block;
    border-radius: 5px;
}

#current {
    background-color: #a6b0fe;
}
